package error

templ Error(ev ErrorView) {
    <div id="notices" hx-swap-oob="true">
        <div class="alert alert-danger alert-dismissible" role="alert">
            { ev.Error }
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

