user_agent: "linux:github.com/itsnoproblem/rgb:0.0.1 (by /u/MallFountainCop)"
client_id: "XXXXXXXXXXXXXXXX"
client_secret: "XXXXXXXXXXXXXXXXXX-XXXX-X"
username: "indifferent_spider43"
password: "XXXXXXXXXXXXX"
