{{define "top-navigation"}}
    <nav id="top-nav"
         class="navbar container navbar-fixed-top navbar-dark"
         hx-swap-oob="{{if .IsOutOfBand}}true{{else}}false{{end}}"
    >
        {{if .User}}
            {{template "fragment-user-navbar" .User}}
        {{else}}
            <div class="nav-placeholder">
                <img title="RGB" class="navbar-img" src="/favicon.png"/>
            </div>
        {{end}}
    </nav>
{{end}}
