{{- /* gotype: github.com/itsnoproblem/mall-fountain-cop-bot/pkg/authorizing.User */ -}}
{{define "dashboard"}}
<div>
    <h1 class="text-success  text-center"><span class="fa fa-user"></span>dashboard</h1>
</div>
{{end}}
