* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.background-unset {
    background: unset;
}

.htmx-indicator {
    display:none !important;
}

.htmx-request {
    display: inline-block !important;
}

html {
    height: 100%;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}

body {
    /*background: rgb(61, 79, 93);*/
    /*color: #eeeeee;*/
}

a {
    text-decoration: none !important;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
   cursor: pointer;
}

h3 {
    font-weight: 100;
}

input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    margin-left: auto !important;
    margin-top: 0.5em !important;
}

label.is-required {
    margin-top: -1.6em;
}

input.input-param-name {
    width: 100%;
    border-radius: 2em;
    padding: 0.3em 1em 0.3em 1em;
}

div.row.add-btn {
     margin-bottom: -1.4em;
}

button.delete-button {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
}
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}
pre#promptEditor {
    height: 420px;
    overflow-y: auto;
    resize: vertical;
}

/* LAYOUT CSS */
#layout {
    padding: 0;
    max-width: 1280px;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    display: flex;
}

.nav.nav-logo>li>a, ul.nav-logo {
    display: inline-block;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-item a:hover,
.nav-item a:focus {
    /*border: 2px solid rgb(61, 146, 201);*/
    text-decoration: none;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.form-floating label {
    top: -10px !important;
}

.form-floating {
    padding: 8px;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

#content-root {
    width: 100%;
}

#content-root>.jumbotron-fluid {
    padding: 1.3em 3.65em;
}

#chat-content {
    overflow: hidden;
    margin-bottom: 72px;
}

#chat-controls>input {
    width: 100%;
    border-radius: 2em;
    padding: 0.3em 1em 0.3em 1em;
}

.required .control-label:before {
    content: "*" !important;
    color: #B62BD2FF !important;
}

#chat-controls .form-group {
    padding: 4px;
}

label[for=flow-selector] {
    margin-left: 8px;
    padding-top: 12px;
}

#flow-builder h3 {
    font-size: 1.5em;
}

#flow-builder label {
    /*color: #BA55D3FF;*/
    /*color: #ffff8b;*/
    color: #7bbbfd;
    left: 14px;
}

#flow-builder label.form-check-label {
    color: unset;
}

.smaller {
    font-size: 0.86em;
    font-weight: normal;
    letter-spacing: 0.14em;
}

.larger {
    font-size: 1.4em;
    font-weight: 600;
}

#flow-builder .text-body-secondary {
    font-weight: bold;
    font-size: 18px;
}

.nav a {
    color: #ffff8b;
    /*color: #7bbbfd;*/
}

.content {
    padding: 2em 1em 0;
}
.content-wrapper {
    margin-left: 0.7em;
}

ul.usage {
    margin-left: 2em;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

ul.usage li {
    float: left;
    display: block;
    background-color: unset;
    border-radius: 0.8em;
    margin: 2em 0.8em 2em 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 0.6em;
    padding: 0.2em 0.7em;
    text-transform: uppercase;
}

ul.usage hr {
    margin: -0.4em 8em 0.1em 0;
    width: 100%;
}

.interaction-date {
    margin-left: 0.7em;
    font-weight: 600;
    font-size: 1em;
    font-family: 'Public Sans', sans-serif;
}

.interaction-summary {
    font-family: 'Public Sans', sans-serif;
    font-size: 0.685em;
    margin: 0 0 0.75em 0;
}

.interaction-summary .pure-button {
    border-radius: 1.2em;
    padding: 0.2em 0.4em;
    text-transform: uppercase;
    font-size: 0.875em;
}

.interaction-meta {
    margin: 0 0 14px 16px;
}

.post-container {
    line-height: 1.36;
    padding: 0 20px 0 0;
}

.post-container hr {
    margin: -1.8em 8em 1em 0;
}

.posts {
    margin: 0 40px;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.post-title.list-post-title {
    font-size: 1.4em;
}

.post-title>a,
.post-title>a:visited {
    color:#CCCCCC;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.interaction {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 1.2em;
}

.prompt-display {
    margin-bottom: 0.6em;
    padding: 0.6em 0 0.6em 1.2em;
    border-left: 1.2em solid rgb(32 185 118);
    font-size: 20px;
    line-height: 36px;
    font-family: 'Public Sans', sans-serif;
    max-height: 250px;
    overflow-y: auto;
}

.response-display {
    padding: 0.6em 0 0.6em 1.2em;
    border-left: 1.6em solid rgb(62 165 236);
    font-size: 18px;
    font-weight: 200;
    font-family: 'Public Sans', sans-serif;
    line-height: 32px;
    overflow-y: auto;
    max-height: 250px;
}

.token-badge {
    text-transform: uppercase;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
}

.input-dark {
    background-color: #213a4d;
    color: #EEE;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: .3em
}


/* ---------- Menu ------------ */
#menuToggle
{
    display: block;
    position: relative;
    left: 2em;

    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: tomato;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

.navbar, .nav {
    font-size: 1.125em;
    letter-spacing: .125em;
    font-weight: 400;
    color: #CCC;
    border: none;
    margin-bottom: unset;
}

.navbar-header {
    padding: 10px;
}

/*.user-navbar {*/
/*    margin-right: 15px;*/
/*}*/

.nav-placeholder {
    margin: 0 auto;
    padding-top: 144px;
}

.navbar-img {
    width: auto;
    max-height: 42px;
}

li.dropdown {
    list-style-type: none;
}

.m-logo {
    width: 80%;
    margin: 48px auto;
}

.navbar-avatar {
    width: auto;
    height: 42px;
    border-radius: 2em;
}

.legal-page {
    line-height: 1.4em;
    padding: 0 40px;
    max-width: 1024px;
}

.legal-page p, .terms-of-service h1 {
    padding-bottom: 24px;
}

.legal-page .back-arrow {
    text-decoration: none;
    margin-left: -22px;
}

/* ---------- spinner ----------- */
.loader {
    margin: 2em;
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #FF3D00;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ---------- desktop ------------ */
@media (min-width: 48em) {
    .content {
        padding: 6em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 40% 0 0 5%;
        text-align: right;
        width: 100%;
    }

    .m-logo {
        display: block;
        width: 344px;
        margin: 48px auto;
    }

    .nav-placeholder {
        margin: 0 auto;
        padding-top: 48px;
    }

    .navbar-img {
        width: auto;
        height: 244px;
        cursor: pointer;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }

    #menuToggle {
        display: none !important;
    }

    #chat-controls {

    }
}

/* -- Transitions -- */
.smooth {
    transition: all 1s ease-in;
}

.fade-in.htmx-added {
    opacity: 0;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-out.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.clickable {
    cursor: pointer;
}

#promptEditor > div {
    display: inline;
}

#highlight-container {
    position: relative;
}

#highlight, #promptEditor {
    width: 100%;
    min-height: 200px;
    padding: 0.5rem;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
}

#highlight {
    position: absolute;
    pointer-events: none;
    padding: 9px;
    z-index: 99;
}

#promptEditor {
    position: relative;
    background: transparent;
    z-index: 2;
}

.highlight {
    color: #e685b5;
}

.highlight div {
    opacity: 0;
}
