* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.background-unset {
    background: unset;
}

.htmx-indicator {
    display:none !important;
}

.htmx-request {
    display: inline-block !important;
}

html {
    height: 100%;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}

body {
    /*background: rgb(61, 79, 93);*/
    /*color: #eeeeee;*/
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
   cursor: pointer;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    display: flex;
}

.nav.nav-logo>li>a, ul.nav-logo {
    display: inline-block;
}

img.rgb-logo {
    width: 8em;
    height: auto;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-item a:hover,
.nav-item a:focus {
    /*border: 2px solid rgb(61, 146, 201);*/
    text-decoration: none;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

#content-root {
    width: 100%;
}

#content-root>.jumbotron-fluid {
    padding: 1.3em 3.65em;
}

#chat-content {
    overflow: hidden;
    margin-bottom: 72px;
}
#chat-controls {
    padding: 1.3em 3.65em;
}
#chat-controls>input {
    width: 100%;
    border-radius: 2em;
    padding: 0.3em 1em 0.3em 1em;
}
#chat-controls .form-group {
    padding: 4px;
}
.content {
    padding: 2em 1em 0;
}
.content-wrapper {
    margin-left: 0.7em;
}

ul.usage {
    margin-left: 2em;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

ul.usage li {
    float: left;
    display: block;
    background-color: unset;
    border-radius: 0.8em;
    margin: 2em 0.8em 2em 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 0.6em;
    padding: 0.2em 0.7em;
    text-transform: uppercase;
}

ul.usage hr {
    margin: -0.4em 8em 0.1em 0;
    width: 100%;
}

.interaction-date {
    margin-left: 0.7em;
    font-weight: 600;
    font-size: 1em;
    font-family: 'Public Sans', sans-serif;
}

.interaction-summary {
    font-family: 'Public Sans', sans-serif;
    font-size: 0.685em;
    margin: 0 0 0.75em 0;
}

.interaction-summary .pure-button {
    border-radius: 1.2em;
    padding: 0.2em 0.4em;
    text-transform: uppercase;
    font-size: 0.875em;
}

.interaction-meta {
    margin: 0.7em 0 0.5em 0;
}

.post-container {
    width: 95%;
    line-height: 1.36;
    padding: 0 3.65em
}

.post-container hr {
    margin: -1.8em 8em 1em 0;
}

.posts {
    margin: 1.3em 3.65em;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.post-title.list-post-title {
    font-size: 1.4em;
}

.post-title>a,
.post-title>a:visited {
    color:#CCCCCC;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.interaction {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 1.2em;
}

.prompt-display {
    margin-bottom: 0.2em;
    padding: 0.6em 0 0.6em 1.2em;
    border-left: 1.2em solid rgb(32 185 118);
    font-size: 24px;
    line-height: 40px;
    font-family: 'Public Sans', sans-serif;
}

.response-display {
    padding: 0.6em 0 0.6em 1.2em;
    border-left: 1.6em solid rgb(62 165 236);
    font-size: 18px;
    font-weight: 200;
    font-family: 'Public Sans', sans-serif;
    line-height: 32px;
}

.token-badge {
    text-transform: uppercase;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
}

.input-dark {
    background-color: #213a4d;
    color: #EEE;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: .3em
}

.rgb-logo {
    margin: 0.7em 0.7em 1em;
    display: none;
}


/* ---------- Menu ------------ */
#menuToggle
{
    display: block;
    position: relative;
    left: 2em;

    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: tomato;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

.nav-placeholder {
    padding: 15px;
}

.nav>li {
    font-size: 1.125em;
    letter-spacing: .125em;
    font-weight: 400;
    color: #CCC;
}

.nav>li>a.text-link {
    color: #CCC;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #4d85d1;
}

.navbar, .nav {
    font-size: 1.125em;
    letter-spacing: .125em;
    font-weight: 400;
    color: #CCC;
    border: none;
    margin-bottom: unset;
}

.navbar-header {
    padding: 10px;
}

.user-navbar {
    margin-right: 15px;
}

.navbar-img {
    width: auto;
    height: 42px;
    cursor: pointer;
    margin-top: 5px;
}

.navbar-avatar {
    width: auto;
    height: 42px;
    border-radius: 2em;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}

/* ---------- spinner ----------- */
.loader {
    margin: 2em;
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #FF3D00;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ---------- mobile ------------ */
@media (min-width: 48em) {
    .content {
        padding: 6em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 40% 0 0 5%;
        text-align: right;
        width: 100%;
    }

    .rgb-logo {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }

    #menuToggle {
        display: none !important;
    }

}

/* -- Transitions -- */
.smooth {
    transition: all 1s ease-in;
}

.fade-in.htmx-added {
    opacity: 0;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.clickable {
    cursor: pointer;
}

