{{define "chat-console"}}
    <div class="jumbotron-fluid" id="chat-content">
        <span id="chat-loader" class="htmx-indicator loader"></span>
        <div id="chat-content-root">
        {{/* Chat interactions are injected here  */}}
        </div>
    </div>

    {{template "chat-controls" .}}
{{end}}
